In [37]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [38]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, when, regexp_replace, regexp_extract, initcap, concat_ws, length, col

import os
import pandas as pd

In [ ]:
current_dir = os.getcwd()
print(current_dir)

/content

In [ ]:
spark = SparkSession.builder.getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7efea24fc6d0>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [39]:
current_dir = '/content/drive/MyDrive/mwg/dien_may_xanh'
#current_dir = '/content/drive/MyDrive/mwg'

# **Function CSV**

## **Function Read CSV**

In [ ]:
def read_csv(dir):
    data = spark.read \
        .format('csv') \
        .option('header', 'true') \
        .load(current_dir + dir)

    return data

## **Function To CSV**

In [ ]:
def to_csv(data, dir):
    data.to_csv(current_dir + dir, index=False)

# **Mobile Phone**

## **Brand Mobile Phone**

In [ ]:
brand = read_csv('/raw/brand/brand_mobile_phone.csv')

In [ ]:
brand.toPandas()

,link,link_logo,brand_id
0,https://www.thegioididong.com/dtdd-apple-iphone,https://cdn.tgdd.vn/Brand/1/logo-iphone-220x48...,01
1,https://www.thegioididong.com/dtdd-samsung,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...,02
2,https://www.thegioididong.com/dtdd-oppo,https://cdn.tgdd.vn/Brand/1/OPPO42-b_5.jpg,03
3,https://www.thegioididong.com/dtdd-xiaomi,https://cdn.tgdd.vn/Brand/1/logo-xiaomi-220x48...,04
4,https://www.thegioididong.com/dtdd-vivo,https://cdn.tgdd.vn/Brand/1/vivo-logo-220-220x...,05
5,https://www.thegioididong.com/dtdd-realme,https://cdn.tgdd.vn/Brand/1/Realme42-b_37.png,06
6,https://www.thegioididong.com/dtdd-nokia,https://cdn.tgdd.vn/Brand/1/Nokia42-b_21.jpg,07
7,https://www.thegioididong.com/dtdd-masstel,https://cdn.tgdd.vn/Brand/1/Masstel42-b_0.png,08
8,https://www.thegioididong.com/dtdd-itel,https://cdn.tgdd.vn/Brand/1/Itel42-b_54.jpg,09
9,https://www.thegioididong.com/dtdd-mobell,https://cdn.tgdd.vn/Brand/1/Mobell42-b_19.jpg,10

### **`brand_name`**
* Get `brand_name`
* Transform to `initcap`: This function capitalizes the first letter of each word in a string

In [ ]:
brand = brand.withColumn('brand_name', initcap(split(brand.link, '-')[1]))
brand.toPandas()

,link,link_logo,brand_id,brand_name
0,https://www.thegioididong.com/dtdd-apple-iphone,https://cdn.tgdd.vn/Brand/1/logo-iphone-220x48...,01,Apple
1,https://www.thegioididong.com/dtdd-samsung,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...,02,Samsung
2,https://www.thegioididong.com/dtdd-oppo,https://cdn.tgdd.vn/Brand/1/OPPO42-b_5.jpg,03,Oppo
3,https://www.thegioididong.com/dtdd-xiaomi,https://cdn.tgdd.vn/Brand/1/logo-xiaomi-220x48...,04,Xiaomi
4,https://www.thegioididong.com/dtdd-vivo,https://cdn.tgdd.vn/Brand/1/vivo-logo-220-220x...,05,Vivo
5,https://www.thegioididong.com/dtdd-realme,https://cdn.tgdd.vn/Brand/1/Realme42-b_37.png,06,Realme
6,https://www.thegioididong.com/dtdd-nokia,https://cdn.tgdd.vn/Brand/1/Nokia42-b_21.jpg,07,Nokia
7,https://www.thegioididong.com/dtdd-masstel,https://cdn.tgdd.vn/Brand/1/Masstel42-b_0.png,08,Masstel
8,https://www.thegioididong.com/dtdd-itel,https://cdn.tgdd.vn/Brand/1/Itel42-b_54.jpg,09,Itel
9,https://www.thegioididong.com/dtdd-mobell,https://cdn.tgdd.vn/Brand/1/Mobell42-b_19.jpg,10,Mobell

In [ ]:
brand = brand.select('brand_name', 'link', 'link_logo')
brand.toPandas()

,brand_name,link,link_logo
0,Apple,https://www.thegioididong.com/dtdd-apple-iphone,https://cdn.tgdd.vn/Brand/1/logo-iphone-220x48...
1,Samsung,https://www.thegioididong.com/dtdd-samsung,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...
2,Oppo,https://www.thegioididong.com/dtdd-oppo,https://cdn.tgdd.vn/Brand/1/OPPO42-b_5.jpg
3,Xiaomi,https://www.thegioididong.com/dtdd-xiaomi,https://cdn.tgdd.vn/Brand/1/logo-xiaomi-220x48...
4,Vivo,https://www.thegioididong.com/dtdd-vivo,https://cdn.tgdd.vn/Brand/1/vivo-logo-220-220x...
5,Realme,https://www.thegioididong.com/dtdd-realme,https://cdn.tgdd.vn/Brand/1/Realme42-b_37.png
6,Nokia,https://www.thegioididong.com/dtdd-nokia,https://cdn.tgdd.vn/Brand/1/Nokia42-b_21.jpg
7,Masstel,https://www.thegioididong.com/dtdd-masstel,https://cdn.tgdd.vn/Brand/1/Masstel42-b_0.png
8,Itel,https://www.thegioididong.com/dtdd-itel,https://cdn.tgdd.vn/Brand/1/Itel42-b_54.jpg
9,Mobell,https://www.thegioididong.com/dtdd-mobell,https://cdn.tgdd.vn/Brand/1/Mobell42-b_19.jpg

## **Mobile Phone**

In [ ]:
product = read_csv('/raw/product/mobile_phone.csv')

In [ ]:
product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,device
0,iPhone 14 Pro Max 128GB,27.290.000₫,29.990.000₫,-9%,313,https://www.thegioididong.com/dtdd/iphone-14-p...,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,25.490.000₫,27.990.000₫,-8%,157,https://www.thegioididong.com/dtdd/iphone-14-pro,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19.590.000₫,21.990.000₫,-10%,95,https://www.thegioididong.com/dtdd/iphone-14,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21.990.000₫,24.990.000₫,-12%,83,https://www.thegioididong.com/dtdd/iphone-14-plus,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,42.490.000₫,43.990.000₫,-3%,36,https://www.thegioididong.com/dtdd/iphone-14-p...,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
124,Mobell Rock 4 4G,810.000₫,None,None,59,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
125,Mobell F309 4G,760.000₫,None,None,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
126,Mobell M539 4G,700.000₫,None,None,59,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
127,Mobell F209 4G,620.000₫,None,None,20,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
128,Mobell M239 4G,390.000₫,500.000₫,-22%,114,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

### **`current_price`**
* regex: get number is column `current_price`, regex will remove not number `[^\d+]`

In [ ]:
product = product.withColumn(
    'current_price', regexp_replace(product.current_price, r'[^\d+]', '').cast('integer')
)
product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,device
0,iPhone 14 Pro Max 128GB,27290000,29.990.000₫,-9%,313,https://www.thegioididong.com/dtdd/iphone-14-p...,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,25490000,27.990.000₫,-8%,157,https://www.thegioididong.com/dtdd/iphone-14-pro,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19590000,21.990.000₫,-10%,95,https://www.thegioididong.com/dtdd/iphone-14,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21990000,24.990.000₫,-12%,83,https://www.thegioididong.com/dtdd/iphone-14-plus,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,42490000,43.990.000₫,-3%,36,https://www.thegioididong.com/dtdd/iphone-14-p...,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
124,Mobell Rock 4 4G,810000,None,None,59,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
125,Mobell F309 4G,760000,None,None,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
126,Mobell M539 4G,700000,None,None,59,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
127,Mobell F209 4G,620000,None,None,20,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
128,Mobell M239 4G,390000,500.000₫,-22%,114,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

### **`price`**
* same as `current_price`
* but `price` have value `NaN`
  + if null: `price` will = `current_price`
  + if not null: will transform

In [ ]:
product = product.withColumn(
    'price', when(product.price.isNull(), product.current_price) \
    .otherwise(regexp_replace(product.price, r'[^\d+]', '')).cast('integer')
)

product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,device
0,iPhone 14 Pro Max 128GB,27290000,29990000,-9%,313,https://www.thegioididong.com/dtdd/iphone-14-p...,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,25490000,27990000,-8%,157,https://www.thegioididong.com/dtdd/iphone-14-pro,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19590000,21990000,-10%,95,https://www.thegioididong.com/dtdd/iphone-14,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21990000,24990000,-12%,83,https://www.thegioididong.com/dtdd/iphone-14-plus,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,42490000,43990000,-3%,36,https://www.thegioididong.com/dtdd/iphone-14-p...,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
124,Mobell Rock 4 4G,810000,810000,None,59,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
125,Mobell F309 4G,760000,760000,None,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
126,Mobell M539 4G,700000,700000,None,59,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
127,Mobell F209 4G,620000,620000,None,20,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
128,Mobell M239 4G,390000,500000,-22%,114,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

### **`percent_discount`**
* if `percent_discount` null: will = 0
* else: will transfrom, get number `'\d+'`

In [ ]:
product = product.withColumn(
    'percent_discount', when(product.percent_discount.isNull(), 0) \
    .otherwise(regexp_extract(product.percent_discount, '\d+', 0)).cast('integer')
)
product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,device
0,iPhone 14 Pro Max 128GB,27290000,29990000,9,313,https://www.thegioididong.com/dtdd/iphone-14-p...,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,25490000,27990000,8,157,https://www.thegioididong.com/dtdd/iphone-14-pro,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19590000,21990000,10,95,https://www.thegioididong.com/dtdd/iphone-14,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21990000,24990000,12,83,https://www.thegioididong.com/dtdd/iphone-14-plus,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,42490000,43990000,3,36,https://www.thegioididong.com/dtdd/iphone-14-p...,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
124,Mobell Rock 4 4G,810000,810000,0,59,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
125,Mobell F309 4G,760000,760000,0,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
126,Mobell M539 4G,700000,700000,0,59,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
127,Mobell F209 4G,620000,620000,0,20,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
128,Mobell M239 4G,390000,500000,22,114,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

### **`rating`**
* if null: fill 0
* else: not change

In [ ]:
product = product.withColumn(
    'rating', when(product.rating.isNull(), 0) \
    .otherwise(product.rating).cast('integer')
)
product.toPandas()

,product_name,current_price,price,percent_discount,rating,link,brand_id,series,device
0,iPhone 14 Pro Max 128GB,27290000,29990000,9,313,https://www.thegioididong.com/dtdd/iphone-14-p...,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
1,iPhone 14 Pro 128GB,25490000,27990000,8,157,https://www.thegioididong.com/dtdd/iphone-14-pro,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
2,iPhone 14 128GB,19590000,21990000,10,95,https://www.thegioididong.com/dtdd/iphone-14,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
3,iPhone 14 Plus 128GB,21990000,24990000,12,83,https://www.thegioididong.com/dtdd/iphone-14-plus,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
4,iPhone 14 Pro Max 1TB,42490000,43990000,3,36,https://www.thegioididong.com/dtdd/iphone-14-p...,01,"iPhone 14 (Plus, Pro, Pro Max)",Mobile Phone
...,...,...,...,...,...,...,...,...,...
124,Mobell Rock 4 4G,810000,810000,0,59,https://www.thegioididong.com/dtdd/mobell-rock-4,10,None,Mobile Phone
125,Mobell F309 4G,760000,760000,0,34,https://www.thegioididong.com/dtdd/mobell-f309,10,None,Mobile Phone
126,Mobell M539 4G,700000,700000,0,59,https://www.thegioididong.com/dtdd/mobell-m539,10,None,Mobile Phone
127,Mobell F209 4G,620000,620000,0,20,https://www.thegioididong.com/dtdd/mobell-f209,10,None,Mobile Phone
128,Mobell M239 4G,390000,500000,22,114,https://www.thegioididong.com/dtdd/mobell-m239,10,None,Mobile Phone

In [ ]:
product.printSchema()

root
 |-- product_name: string (nullable = true)
 |-- current_price: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- percent_discount: integer (nullable = true)
 |-- rating: integer (nullable = true)
 |-- link: string (nullable = true)
 |-- brand_id: string (nullable = true)
 |-- series: string (nullable = true)
 |-- device: string (nullable = true)

In [ ]:
product = product.select('product_name', 'current_price', 'price', 'percent_discount', 'rating', 'series', 'link', 'device', 'brand_name')
product.toPandas()

,product_name,current_price,price,percent_discount,rating,series,link,device,brand_name
0,iPhone 14 Pro Max 128GB,27290000,29990000,9,313,"iPhone 14 (Plus, Pro, Pro Max)",https://www.thegioididong.com/dtdd/iphone-14-p...,Mobile Phone,Apple
1,iPhone 14 Pro 128GB,25490000,27990000,8,157,"iPhone 14 (Plus, Pro, Pro Max)",https://www.thegioididong.com/dtdd/iphone-14-pro,Mobile Phone,Apple
2,iPhone 14 128GB,19590000,21990000,10,95,"iPhone 14 (Plus, Pro, Pro Max)",https://www.thegioididong.com/dtdd/iphone-14,Mobile Phone,Apple
3,iPhone 14 Plus 128GB,21990000,24990000,12,83,"iPhone 14 (Plus, Pro, Pro Max)",https://www.thegioididong.com/dtdd/iphone-14-plus,Mobile Phone,Apple
4,iPhone 14 Pro Max 1TB,42490000,43990000,3,36,"iPhone 14 (Plus, Pro, Pro Max)",https://www.thegioididong.com/dtdd/iphone-14-p...,Mobile Phone,Apple
...,...,...,...,...,...,...,...,...,...
124,Mobell Rock 4 4G,810000,810000,0,59,None,https://www.thegioididong.com/dtdd/mobell-rock-4,Mobile Phone,Mobell
125,Mobell F309 4G,760000,760000,0,34,None,https://www.thegioididong.com/dtdd/mobell-f309,Mobile Phone,Mobell
126,Mobell M539 4G,700000,700000,0,59,None,https://www.thegioididong.com/dtdd/mobell-m539,Mobile Phone,Mobell
127,Mobell F209 4G,620000,620000,0,20,None,https://www.thegioididong.com/dtdd/mobell-f209,Mobile Phone,Mobell
128,Mobell M239 4G,390000,500000,22,114,None,https://www.thegioididong.com/dtdd/mobell-m239,Mobile Phone,Mobell

# **Transform Multi Data**

## **Write Function Transform Brand Multi Data**

In [ ]:
def check_contains(brand, device):
    return brand.filter(brand.link.contains(device)).count() > 0

In [ ]:
def brand_transform(dir_read, dir_to):
    # read csv
    brand = read_csv(dir_read)

    # brand name
    if check_contains(brand, 'adapter-sac') \
       or check_contains(brand, 'sac-dtdd') \
       or check_contains(brand, 'tai-nghe') \
       or check_contains(brand, 'loa-laptop'):
        brand_for_product = brand.withColumn('b_o', initcap(split(brand.link, '-')[2]))
        brand_for_product = brand_for_product.withColumn('b_t', initcap(split(brand_for_product.link, '-')[3]))
        brand_for_product = brand_for_product.withColumn('brand_name', concat_ws(' ', brand_for_product.b_o, brand_for_product.b_t))
    elif check_contains(brand, 'cap-dien-thoai'):
        brand_for_product = brand.withColumn('b_o', initcap(split(brand.link, '-')[3]))
        brand_for_product = brand_for_product.withColumn('b_t', initcap(split(brand_for_product.link, '-')[4]))
        brand_for_product = brand_for_product.withColumn('brand_name', concat_ws(' ', brand_for_product.b_o, brand_for_product.b_t))
    elif check_contains(brand, 'laptop') \
         or check_contains(brand, 'dtdd'):
        brand_for_product = brand.withColumn('brand_name', initcap(split(brand.link, '-')[1]))
    elif check_contains(brand, 'may-tinh-bang'):
        brand_for_product = brand.withColumn('brand_name', initcap(split(brand.link, '-')[3]))

    else:
        brand_for_product = brand.withColumn('b_o', initcap(split(brand.link, '-')[4]))
        brand_for_product = brand_for_product.withColumn('b_t', initcap(split(brand_for_product.link, '-')[5]))
        brand_for_product = brand_for_product.withColumn('brand_name', concat_ws(' ', brand_for_product.b_o, brand_for_product.b_t))

    brand_for_product = brand_for_product.select('brand_id', 'brand_name', 'link', 'link_logo')

    # select column
    brand = brand_for_product.select('brand_name')

    # to csv brand
    to_csv(brand.toPandas(), dir_to)

    return brand_for_product

In [ ]:
brand_adapter_charger = brand_transform('/raw/brand/brand_adapter_charger.csv', '/transformed/brand/brand_adapter_charger.csv')
brand_backup_charger = brand_transform('/raw/brand/brand_backup_charger.csv', '/transformed/brand/brand_backup_charger.csv')
brand_cables = brand_transform('/raw/brand/brand_cables.csv', '/transformed/brand/brand_cables.csv')
brand_headphone = brand_transform('/raw/brand/brand_headphone.csv', '/transformed/brand/brand_headphone.csv')
brand_laptop_speaker = brand_transform('/raw/brand/brand_laptop_speaker.csv', '/transformed/brand/brand_laptop_speaker.csv')
brand_laptop = brand_transform('/raw/brand/brand_laptop.csv', '/transformed/brand/brand_laptop.csv')
brand_mobile_phone = brand_transform('/raw/brand/brand_mobile_phone.csv', '/transformed/brand/brand_mobile_phone.csv')
brand_smartwatch = brand_transform('/raw/brand/brand_smartwatch.csv', '/transformed/brand/brand_smartwatch.csv')
brand_tablet = brand_transform('/raw/brand/brand_tablet.csv', '/transformed/brand/brand_tablet.csv')

## **Write Function Transform Product Multi Data**

In [ ]:
def product_tranform(dir_read, dir_to_product, dir_to_brand_d, brand_for_product):
    # read csv
    product = read_csv(dir_read)

    # current price
    product = product.withColumn(
        'current_price', regexp_replace(product.current_price, r'[^\d+]', '').cast('integer')
    )

    # price
    product = product.withColumn(
        'price', when(product.price.isNull(), product.current_price) \
        .otherwise(regexp_replace(product.price, r'[^\d+]', '')).cast('integer')
    )

    # percent discount
    product = product.withColumn(
        'percent_discount', when(product.percent_discount.isNull(), 0) \
        .otherwise(regexp_extract(product.percent_discount, '\d+', 0)).cast('integer')
    )

    # rating
    product = product.withColumn(
        'rating', when(product.rating.isNull(), 0) \
        .otherwise(product.rating).cast('integer')
    )

    # merge brand data
    product = product.join(
        brand_for_product.select('brand_id', 'brand_name'), on='brand_id', how='inner'
    )

    # rename
    product = product.withColumnsRenamed({'device':'genre_name'})

    '''brand details'''
    product_for_brand = brand_for_product.join(
        product.select('brand_id', 'genre_name'), on='brand_id', how='inner'
    )

    product_for_brand = product_for_brand.select('brand_name', 'genre_name', 'link', 'link_logo').distinct()


    # select column
    product = product.withColumnRenamed('device', 'genre_name')
    product = product.select('product_name', 'current_price', 'price', 'percent_discount', 'rating', 'series', 'link', 'genre_name', 'brand_name')


    # to csv product
    to_csv(product.toPandas(), dir_to_product)

    # to csv brand details
    to_csv(product_for_brand.toPandas(), dir_to_brand_d)

In [ ]:
product_tranform('/raw/product/adapter_charger.csv', '/transformed/product/adapter_charger.csv', '/transformed/brand_details/brand_adapter_charger.csv', brand_adapter_charger)
product_tranform('/raw/product/backup_charger.csv', '/transformed/product/backup_charger.csv', '/transformed/brand_details/brand_backup_charger.csv', brand_backup_charger)
product_tranform('/raw/product/cables.csv', '/transformed/product/cables.csv', '/transformed/brand_details/brand_cables.csv', brand_cables)
product_tranform('/raw/product/headphone.csv', '/transformed/product/headphone.csv', '/transformed/brand_details/brand_headphone.csv', brand_headphone)
product_tranform('/raw/product/laptop_speaker.csv', '/transformed/product/laptop_speaker.csv', '/transformed/brand_details/brand_laptop_speaker.csv', brand_laptop_speaker)
product_tranform('/raw/product/laptop.csv', '/transformed/product/laptop.csv', '/transformed/brand_details/brand_laptop.csv', brand_laptop)
product_tranform('/raw/product/mobile_phone.csv', '/transformed/product/mobile_phone.csv', '/transformed/brand_details/brand_mobile_phone.csv', brand_mobile_phone)
product_tranform('/raw/product/smartwatch.csv', '/transformed/product/smartwatch.csv', '/transformed/brand_details/brand_smartwatch.csv', brand_smartwatch)
product_tranform('/raw/product/tablet.csv', '/transformed/product/tablet.csv', '/transformed/brand_details/brand_tablet.csv', brand_tablet)

## **Tables Companies**

In [ ]:
companies = read_csv('/companies.csv')
companies.toPandas()

,company_id,company_name,link,description
0,01,Thế Giới Di Động,https://www.thegioididong.com,None
1,02,TopZone,https://www.topzone.vn/,Chuỗi cửa hàng cao cấp Apple
2,03,Điện máy XANH,https://www.dienmayxanh.com/,None
3,04,Bách hóa XANH,https://www.bachhoaxanh.com/,None
4,05,Nhà thuốc An Khang,https://www.nhathuocankhang.com/,Chuỗi nhà thuốc chuẩn GPP
5,06,AVAKids,https://www.avakids.com/,Chuỗi cửa hàng mẹ và bé
6,07,Dịch vụ Tận Tâm,https://www.dichvutantam.com/,"Dịch vụ vệ sinh máy lạnh, sửa chữa điện nước, ..."
7,08,4KFarm,https://www.4kfarm.com/,Nông trại rau sạch
8,09,Việc làm Thế Giới Di Động,https://vieclam.thegioididong.com/,Trang tuyển dụng của tập đoàn Thế Giới Di Động

## **Table Brands**

In [ ]:
brand_adapter_charger = read_csv('/transformed/brand/brand_adapter_charger.csv')
brand_backup_charger = read_csv('/transformed/brand/brand_backup_charger.csv')
brand_cables = read_csv('/transformed/brand/brand_cables.csv')
brand_headphone = read_csv('/transformed/brand/brand_headphone.csv')
brand_laptop_speaker = read_csv('/transformed/brand/brand_laptop_speaker.csv')
brand_laptop = read_csv('/transformed/brand/brand_laptop.csv')
brand_mobile_phone = read_csv('/transformed/brand/brand_mobile_phone.csv')
brand_smartwatch = read_csv('/transformed/brand/brand_smartwatch.csv')
brand_tablet = read_csv('/transformed/brand/brand_tablet.csv')

In [ ]:
brands = brand_adapter_charger \
         .union(brand_backup_charger) \
         .union(brand_cables) \
         .union(brand_headphone) \
         .union(brand_laptop_speaker) \
         .union(brand_laptop) \
         .union(brand_mobile_phone) \
         .union(brand_smartwatch) \
         .union(brand_tablet) \
         .distinct()

# brands = brands.sort(brands.brand_name.asc())

brands = brands.toPandas()
brands

       brand_name
0          Belkin
1           Mbest
2          Mophie
3             Ava
4          Hydrus
..            ...
68         Garmin
69        Kidcare
70          Befit
71          Honor
72  Huami Amazfit

[73 rows x 1 columns]

In [ ]:
id = []
for i in range(1, len(brands)+1):
    if i < 10:
        id.append('010' + str(i))
    else:
        id.append('01' + str(i))

brands['brand_id'] = id

# sort column
brands = brands[['brand_id', 'brand_name']]

brands

   brand_id     brand_name
0      0101         Belkin
1      0102          Mbest
2      0103         Mophie
3      0104            Ava
4      0105         Hydrus
..      ...            ...
68     0169         Garmin
69     0170        Kidcare
70     0171          Befit
71     0172          Honor
72     0173  Huami Amazfit

[73 rows x 2 columns]

In [ ]:
to_csv(brands, '/transformed/brand/brands.csv')

In [ ]:
brands = read_csv('/transformed/brand/brands.csv')
brands.toPandas()

   brand_id     brand_name
0      0101         Belkin
1      0102          Mbest
2      0103         Mophie
3      0104            Ava
4      0105         Hydrus
..      ...            ...
68     0169         Garmin
69     0170        Kidcare
70     0171          Befit
71     0172          Honor
72     0173  Huami Amazfit

[73 rows x 2 columns]

## **Table Genres**

In [ ]:
genres = pd.DataFrame()

genre = [
    'Adapter Charger',
    'Backup Charger',
    'Cables',
    'Headphone',
    'Laptop Speaker',
    'Laptop',
    'Mobile Phone',
    'Smartwatch',
    'Tablet'
]

id = []
company_id = []
for i in range(1, len(genre)+1):
    if i < 10:
        id.append('010' + str(i))
    else:
        id.append('01' + str(i))
    company_id.append('01')

genres['genre_id'] = id
genres['genre_name'] = genre
genres['company_id'] = company_id

genres

  genre_id       genre_name company_id
0     0101  Adapter Charger         01
1     0102   Backup Charger         01
2     0103           Cables         01
3     0104        Headphone         01
4     0105   Laptop Speaker         01
5     0106           Laptop         01
6     0107     Mobile Phone         01
7     0108       Smartwatch         01
8     0109           Tablet         01

In [ ]:
to_csv(genres, '/transformed/genre/genres.csv')

## **Table Brand Details**

In [ ]:
brand_adapter_charger = read_csv('/transformed/brand_details/brand_adapter_charger.csv')
brand_backup_charger = read_csv('/transformed/brand_details/brand_backup_charger.csv')
brand_cables = read_csv('/transformed/brand_details/brand_cables.csv')
brand_headphone = read_csv('/transformed/brand_details/brand_headphone.csv')
brand_laptop_speaker = read_csv('/transformed/brand_details/brand_laptop_speaker.csv')
brand_laptop = read_csv('/transformed/brand_details/brand_laptop.csv')
brand_mobile_phone = read_csv('/transformed/brand_details/brand_mobile_phone.csv')
brand_smartwatch = read_csv('/transformed/brand_details/brand_smartwatch.csv')
brand_tablet = read_csv('/transformed/brand_details/brand_tablet.csv')

In [ ]:
genres = read_csv('/transformed/genre/genres.csv')
brands = read_csv('/transformed/brand/brands.csv')

In [ ]:
brand_details = brand_adapter_charger \
                .union(brand_backup_charger) \
                .union(brand_cables) \
                .union(brand_headphone) \
                .union(brand_laptop_speaker) \
                .union(brand_laptop) \
                .union(brand_mobile_phone) \
                .union(brand_smartwatch) \
                .union(brand_tablet) \
                .distinct()

brand_details.toPandas()

,brand_name,genre_name,link,link_logo
0,Evalu,Adapter Charger,https://www.thegioididong.com/adapter-sac-evalu,https://cdn.tgdd.vn/Brand/1/eValu9499-b_0.jpg
1,Apple,Adapter Charger,https://www.thegioididong.com/adapter-sac-apple,https://cdn.tgdd.vn/Brand/1/Apple9499-b_28.jpg
2,Ava Plus,Adapter Charger,https://www.thegioididong.com/adapter-sac-ava-...,https://cdn.tgdd.vn/Brand/1/220-48-220x48-11.jpg
3,Vcom,Adapter Charger,https://www.thegioididong.com/adapter-sac-vcom,https://cdn.tgdd.vn/Brand/1/logovcom-220x48-1.png
4,Xmobile,Adapter Charger,https://www.thegioididong.com/adapter-sac-xmobile,https://cdn.tgdd.vn/Brand/1/Xmobile9499-b_10.jpg
...,...,...,...,...
123,Oppo,Tablet,https://www.thegioididong.com/may-tinh-bang-oppo,https://cdn.tgdd.vn/Brand/1/OPPO-logo-lon-220x...
124,Apple,Tablet,https://www.thegioididong.com/may-tinh-bang-ap...,https://cdn.tgdd.vn/Brand/1/iPad-(Apple)522-b_...
125,Xiaomi,Tablet,https://www.thegioididong.com/may-tinh-bang-xi...,https://cdn.tgdd.vn/Brand/1/Tablet-xiaomi-220x...
126,Samsung,Tablet,https://www.thegioididong.com/may-tinh-bang-sa...,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...
127,Masstel,Tablet,https://www.thegioididong.com/may-tinh-bang-ma...,https://cdn.tgdd.vn/Brand/1/Masstel522-b_7.png

In [ ]:
brand_details = brand_details \
                .join(genres, on='genre_name', how='inner') \
                .join(brands, on='brand_name', how='inner')

brand_details = brand_details.toPandas()
brand_details

,brand_name,genre_name,link,link_logo,genre_id,brand_id
0,Evalu,Adapter Charger,https://www.thegioididong.com/adapter-sac-evalu,https://cdn.tgdd.vn/Brand/1/eValu9499-b_0.jpg,0101,0112
1,Apple,Adapter Charger,https://www.thegioididong.com/adapter-sac-apple,https://cdn.tgdd.vn/Brand/1/Apple9499-b_28.jpg,0101,0115
2,Ava Plus,Adapter Charger,https://www.thegioididong.com/adapter-sac-ava-...,https://cdn.tgdd.vn/Brand/1/220-48-220x48-11.jpg,0101,0116
3,Vcom,Adapter Charger,https://www.thegioididong.com/adapter-sac-vcom,https://cdn.tgdd.vn/Brand/1/logovcom-220x48-1.png,0101,0107
4,Xmobile,Adapter Charger,https://www.thegioididong.com/adapter-sac-xmobile,https://cdn.tgdd.vn/Brand/1/Xmobile9499-b_10.jpg,0101,0114
...,...,...,...,...,...,...
123,Oppo,Tablet,https://www.thegioididong.com/may-tinh-bang-oppo,https://cdn.tgdd.vn/Brand/1/OPPO-logo-lon-220x...,0109,0109
124,Apple,Tablet,https://www.thegioididong.com/may-tinh-bang-ap...,https://cdn.tgdd.vn/Brand/1/iPad-(Apple)522-b_...,0109,0115
125,Xiaomi,Tablet,https://www.thegioididong.com/may-tinh-bang-xi...,https://cdn.tgdd.vn/Brand/1/Tablet-xiaomi-220x...,0109,0127
126,Samsung,Tablet,https://www.thegioididong.com/may-tinh-bang-sa...,https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-...,0109,0110
127,Masstel,Tablet,https://www.thegioididong.com/may-tinh-bang-ma...,https://cdn.tgdd.vn/Brand/1/Masstel522-b_7.png,0109,0158

In [ ]:
brand_details = brand_details[['brand_id', 'genre_id', 'link', 'link_logo']]

In [ ]:
to_csv(brand_details, '/transformed/brand_details/brand_details.csv')

## **Tables Products**

In [ ]:
adapter_charger = read_csv('/transformed/product/adapter_charger.csv')
backup_charger = read_csv('/transformed/product/backup_charger.csv')
cables = read_csv('/transformed/product/cables.csv')
headphone = read_csv('/transformed/product/headphone.csv')
laptop_speaker = read_csv('/transformed/product/laptop_speaker.csv')
laptop = read_csv('/transformed/product/laptop.csv')
mobile_phone = read_csv('/transformed/product/mobile_phone.csv')
smartwatch = read_csv('/transformed/product/smartwatch.csv')
tablet = read_csv('/transformed/product/tablet.csv')

In [ ]:
genres = read_csv('/transformed/genre/genres.csv')
brands = read_csv('/transformed/brand/brands.csv')

In [ ]:
products = adapter_charger \
           .union(backup_charger) \
           .union(cables) \
           .union(headphone) \
           .union(laptop_speaker) \
           .union(laptop) \
           .union(mobile_phone) \
           .union(smartwatch) \
           .union(tablet)

products.toPandas()

,product_name,current_price,price,percent_discount,rating,series,link,genre_name,brand_name
0,Sạc Apple 20W MHJE3,520000.0,690000.0,24,433,None,https://www.thegioididong.com/adapter-sac/adap...,Adapter Charger,Apple
1,Bộ chuyển đổi chân sạc Adapter Kit Apple MD837,870000.0,1090000.0,20,0,None,https://www.thegioididong.com/adapter-sac/chan...,Adapter Charger,Apple
2,Sạc Apple MGN13,225000.0,450000.0,50,52,None,https://www.thegioididong.com/adapter-sac/adap...,Adapter Charger,Apple
3,Sạc Apple MD813ZM-A,405000.0,450000.0,10,8,None,https://www.thegioididong.com/adapter-sac/adap...,Adapter Charger,Apple
4,Bộ Adapter sạc kèm cáp Type C - Type C Samsung...,650000.0,1190000.0,45,67,None,https://www.thegioididong.com/adapter-sac/bo-a...,Adapter Charger,Samsung
...,...,...,...,...,...,...,...,...,...
1048,OPPO Pad Air 128GB,7790000,7990000,0,9,None,https://www.thegioididong.com/may-tinh-bang/op...,Tablet,Oppo
1049,OPPO Pad Air 64GB,6490000,6690000,0,53,None,https://www.thegioididong.com/may-tinh-bang/op...,Tablet,Oppo
1050,Masstel Tab 10A,2790000,2790000,0,40,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,Masstel
1051,Masstel Tab 10S,2690000,2890000,6,91,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,Masstel
1052,Masstel Tab 8.2,2390000,2490000,4,43,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,Masstel

In [ ]:
products = products \
           .join(genres, on='genre_name', how='inner') \
           .join(brands, on='brand_name', how='inner')
products = products.toPandas()
products

,brand_name,genre_name,product_name,current_price,price,percent_discount,rating,series,link,genre_id,brand_id
0,Apple,Adapter Charger,Sạc Apple 20W MHJE3,520000.0,690000.0,24,433,None,https://www.thegioididong.com/adapter-sac/adap...,0101,0115
1,Apple,Adapter Charger,Bộ chuyển đổi chân sạc Adapter Kit Apple MD837,870000.0,1090000.0,20,0,None,https://www.thegioididong.com/adapter-sac/chan...,0101,0115
2,Apple,Adapter Charger,Sạc Apple MGN13,225000.0,450000.0,50,52,None,https://www.thegioididong.com/adapter-sac/adap...,0101,0115
3,Apple,Adapter Charger,Sạc Apple MD813ZM-A,405000.0,450000.0,10,8,None,https://www.thegioididong.com/adapter-sac/adap...,0101,0115
4,Samsung,Adapter Charger,Bộ Adapter sạc kèm cáp Type C - Type C Samsung...,650000.0,1190000.0,45,67,None,https://www.thegioididong.com/adapter-sac/bo-a...,0101,0110
...,...,...,...,...,...,...,...,...,...,...,...
1048,Oppo,Tablet,OPPO Pad Air 128GB,7790000,7990000,0,9,None,https://www.thegioididong.com/may-tinh-bang/op...,0109,0109
1049,Oppo,Tablet,OPPO Pad Air 64GB,6490000,6690000,0,53,None,https://www.thegioididong.com/may-tinh-bang/op...,0109,0109
1050,Masstel,Tablet,Masstel Tab 10A,2790000,2790000,0,40,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,0158
1051,Masstel,Tablet,Masstel Tab 10S,2690000,2890000,6,91,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,0158
1052,Masstel,Tablet,Masstel Tab 8.2,2390000,2490000,4,43,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,0158

In [ ]:
id = []
for i in range(1, len(products)+1):
    if i < 10:
        id.append('01000' + str(i))
    elif i < 100:
        id.append('0100' + str(i))
    elif i < 1000:
        id.append('010' + str(i))
    else:
        id.append('01' + str(i))

products['product_id'] = id

products

,brand_name,genre_name,product_name,current_price,price,percent_discount,rating,series,link,genre_id,brand_id,product_id
0,Apple,Adapter Charger,Sạc Apple 20W MHJE3,520000.0,690000.0,24,433,None,https://www.thegioididong.com/adapter-sac/adap...,0101,0115,010001
1,Apple,Adapter Charger,Bộ chuyển đổi chân sạc Adapter Kit Apple MD837,870000.0,1090000.0,20,0,None,https://www.thegioididong.com/adapter-sac/chan...,0101,0115,010002
2,Apple,Adapter Charger,Sạc Apple MGN13,225000.0,450000.0,50,52,None,https://www.thegioididong.com/adapter-sac/adap...,0101,0115,010003
3,Apple,Adapter Charger,Sạc Apple MD813ZM-A,405000.0,450000.0,10,8,None,https://www.thegioididong.com/adapter-sac/adap...,0101,0115,010004
4,Samsung,Adapter Charger,Bộ Adapter sạc kèm cáp Type C - Type C Samsung...,650000.0,1190000.0,45,67,None,https://www.thegioididong.com/adapter-sac/bo-a...,0101,0110,010005
...,...,...,...,...,...,...,...,...,...,...,...,...
1048,Oppo,Tablet,OPPO Pad Air 128GB,7790000,7990000,0,9,None,https://www.thegioididong.com/may-tinh-bang/op...,0109,0109,011049
1049,Oppo,Tablet,OPPO Pad Air 64GB,6490000,6690000,0,53,None,https://www.thegioididong.com/may-tinh-bang/op...,0109,0109,011050
1050,Masstel,Tablet,Masstel Tab 10A,2790000,2790000,0,40,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,0158,011051
1051,Masstel,Tablet,Masstel Tab 10S,2690000,2890000,6,91,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,0158,011052
1052,Masstel,Tablet,Masstel Tab 8.2,2390000,2490000,4,43,None,https://www.thegioididong.com/may-tinh-bang/ma...,0109,0158,011053

In [ ]:
# select column
products = products[['product_id', 'product_name', 'current_price', 'price', 'percent_discount', 'rating', 'series', 'link', 'brand_id', 'genre_id']]

In [ ]:
to_csv(products, '/transformed/product/products.csv')

In [ ]:
products = read_csv('/transformed/product/products.csv')

In [ ]:
products = products \
           .join(genres, on='genre_id', how='inner') \
           .join(brands, on='brand_id', how='inner')
products.toPandas()

,brand_id,genre_id,product_id,product_name,current_price,price,percent_discount,rating,series,link,genre_name,brand_name
0,0115,0101,010001,Sạc Apple 20W MHJE3,520000.0,690000.0,24,433,None,https://www.thegioididong.com/adapter-sac/adap...,Adapter Charger,Apple
1,0115,0101,010002,Bộ chuyển đổi chân sạc Adapter Kit Apple MD837,870000.0,1090000.0,20,0,None,https://www.thegioididong.com/adapter-sac/chan...,Adapter Charger,Apple
2,0115,0101,010003,Sạc Apple MGN13,225000.0,450000.0,50,52,None,https://www.thegioididong.com/adapter-sac/adap...,Adapter Charger,Apple
3,0115,0101,010004,Sạc Apple MD813ZM-A,405000.0,450000.0,10,8,None,https://www.thegioididong.com/adapter-sac/adap...,Adapter Charger,Apple
4,0110,0101,010005,Bộ Adapter sạc kèm cáp Type C - Type C Samsung...,650000.0,1190000.0,45,67,None,https://www.thegioididong.com/adapter-sac/bo-a...,Adapter Charger,Samsung
...,...,...,...,...,...,...,...,...,...,...,...,...
1048,0109,0109,011049,OPPO Pad Air 128GB,7790000,7990000,0,9,None,https://www.thegioididong.com/may-tinh-bang/op...,Tablet,Oppo
1049,0109,0109,011050,OPPO Pad Air 64GB,6490000,6690000,0,53,None,https://www.thegioididong.com/may-tinh-bang/op...,Tablet,Oppo
1050,0158,0109,011051,Masstel Tab 10A,2790000,2790000,0,40,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,Masstel
1051,0158,0109,011052,Masstel Tab 10S,2690000,2890000,6,91,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,Masstel
1052,0158,0109,011053,Masstel Tab 8.2,2390000,2490000,4,43,None,https://www.thegioididong.com/may-tinh-bang/ma...,Tablet,Masstel

# **`dienmayxanh`**

In [ ]:
def check_contains(brand, device):
    return brand.filter(brand.link.contains(device)).count() > 0

In [ ]:
def brand_transform(dir_read, dir_to):
    # read csv
    brand = read_csv(dir_read)

    # brand name
    if check_contains(brand, 'tivi'):
        brand_for_product = brand.withColumn('brand_name', initcap(split(brand.link, '-')[1]))
    elif check_contains(brand, 'may-lanh'):
        brand_for_product = brand.withColumn('brand_name', initcap(split(brand.link, '-')[2]))
    else:
        brand_for_product = brand.withColumn('b_o', initcap(split(brand.link, '-')[2]))
        brand_for_product = brand_for_product.withColumn('b_t', initcap(split(brand_for_product.link, '-')[3]))
        brand_for_product = brand_for_product.withColumn('brand_name', concat_ws(' ', brand_for_product.b_o, brand_for_product.b_t))

    brand_for_product = brand_for_product.select('brand_id', 'brand_name', 'link', 'link_logo')

    # select column
    brand = brand_for_product.select('brand_name')

    # to csv brand
    to_csv(brand.toPandas(), dir_to)

    return brand_for_product

In [ ]:
brand_air_conditioner = brand_transform('/raw/brand/brand_air_conditioner.csv', '/transformed/brand/brand_air_conditioner.csv')
brand_fridge = brand_transform('/raw/brand/brand_fridge.csv', '/transformed/brand/brand_fridge.csv')
brand_tivi = brand_transform('/raw/brand/brand_tivi.csv', '/transformed/brand/brand_tivi.csv')
brand_washing_machine = brand_transform('/raw/brand/brand_washing_machine.csv', '/transformed/brand/brand_washing_machine.csv')

In [ ]:
def product_tranform(dir_read, dir_to_product, dir_to_brand_d, brand_for_product):
    # read csv
    product = read_csv(dir_read)

    # current price
    product = product.withColumn(
        'current_price', regexp_replace(product.current_price, r'[^\d+]', '').cast('integer')
    )

    # price
    product = product.withColumn(
        'price', when(product.price.isNull(), product.current_price) \
        .otherwise(regexp_replace(product.price, r'[^\d+]', '')).cast('integer')
    )

    # percent discount
    product = product.withColumn(
        'percent_discount', when(product.percent_discount.isNull(), 0) \
        .otherwise(regexp_extract(product.percent_discount, '\d+', 0)).cast('integer')
    )

    # rating
    product = product.withColumn(
        'rating', when(product.rating.isNull(), 0) \
        .otherwise(product.rating).cast('integer')
    )

    # merge brand data
    product = product.join(
        brand_for_product.select('brand_id', 'brand_name'), on='brand_id', how='inner'
    )

    # rename
    product = product.withColumnsRenamed({'device':'genre_name'})

    '''brand details'''
    product_for_brand = brand_for_product.join(
        product.select('brand_id', 'genre_name'), on='brand_id', how='inner'
    )

    product_for_brand = product_for_brand.select('brand_name', 'genre_name', 'link', 'link_logo').distinct()


    # select column
    product = product.withColumnRenamed('device', 'genre_name')
    product = product.select('product_name', 'current_price', 'price', 'percent_discount', 'rating', 'series', 'link', 'genre_name', 'brand_name')


    # to csv product
    to_csv(product.toPandas(), dir_to_product)

    # to csv brand details
    to_csv(product_for_brand.toPandas(), dir_to_brand_d)

In [ ]:
product_tranform('/raw/product/air_conditioner.csv', '/transformed/product/air_conditioner.csv', '/transformed/brand_details/brand_air_conditioner.csv', brand_air_conditioner)
product_tranform('/raw/product/fridge.csv', '/transformed/product/fridge.csv', '/transformed/brand_details/brand_fridge.csv', brand_fridge)
product_tranform('/raw/product/tivi.csv', '/transformed/product/tivi.csv', '/transformed/brand_details/brand_tivi.csv', brand_tivi)
product_tranform('/raw/product/washing_machine.csv', '/transformed/product/washing_machine.csv', '/transformed/brand_details/brand_washing_machine.csv', brand_washing_machine)

## **Table Brands**

In [ ]:
brand_air_conditioner = read_csv('/transformed/brand/brand_air_conditioner.csv')
brand_fridge = read_csv('/transformed/brand/brand_fridge.csv')
brand_tivi = read_csv('/transformed/brand/brand_tivi.csv')
brand_washing_machine = read_csv('/transformed/brand/brand_washing_machine.csv')

In [ ]:
brands = brand_air_conditioner \
         .union(brand_fridge) \
         .union(brand_tivi) \
         .union(brand_washing_machine) \
         .distinct()

# brands = brands.sort(brands.brand_name.asc())

brands = brands.toPandas()
brands

    brand_name
0        Midea
1         Aqua
2       Funiki
3       Daikin
4          Tcl
5           Lg
6      Samsung
7         Gree
8     Nagakawa
9       Casper
10      Comfee
11       Sharp
12     Toshiba
13   Panasonic
14        Beko
15  Aqua Sanyo
16     Hitachi
17  Electrolux
18        Sony
19    Iffalcon
20   Whirlpool

In [ ]:
id = []
for i in range(1, len(brands)+1):
    if i < 10:
        id.append('030' + str(i))
    else:
        id.append('03' + str(i))

brands['brand_id'] = id

# sort column
brands = brands[['brand_id', 'brand_name']]

brands

   brand_id  brand_name
0      0301       Midea
1      0302        Aqua
2      0303      Funiki
3      0304      Daikin
4      0305         Tcl
5      0306          Lg
6      0307     Samsung
7      0308        Gree
8      0309    Nagakawa
9      0310      Casper
10     0311      Comfee
11     0312       Sharp
12     0313     Toshiba
13     0314   Panasonic
14     0315        Beko
15     0316  Aqua Sanyo
16     0317     Hitachi
17     0318  Electrolux
18     0319        Sony
19     0320    Iffalcon
20     0321   Whirlpool

In [ ]:
to_csv(brands, '/transformed/brand/brands.csv')

## **Table Genres**

In [ ]:
genres = pd.DataFrame()

genre = [
    'Air Conditioner',
    'Fridge',
    'Tivi',
    'Washing Machine'
]

id = []
company_id = []
for i in range(1, len(genre)+1):
    if i < 10:
        id.append('030' + str(i))
    else:
        id.append('03' + str(i))
    company_id.append('03')

genres['genre_id'] = id
genres['genre_name'] = genre
genres['company_id'] = company_id

genres

  genre_id       genre_name company_id
0     0301  Air Conditioner         03
1     0302           Fridge         03
2     0303             Tivi         03
3     0304  Washing Machine         03

In [ ]:
to_csv(genres, '/transformed/genre/genres.csv')

## **Table Brand Details**

In [ ]:
brand_air_conditioner = read_csv('/transformed/brand_details/brand_air_conditioner.csv')
brand_fridge = read_csv('/transformed/brand_details/brand_fridge.csv')
brand_tivi = read_csv('/transformed/brand_details/brand_tivi.csv')
brand_washing_machine = read_csv('/transformed/brand_details/brand_washing_machine.csv')

In [ ]:
genres = read_csv('/transformed/genre/genres.csv')
brands = read_csv('/transformed/brand/brands.csv')

In [ ]:
brand_details = brand_air_conditioner \
                .union(brand_fridge) \
                .union(brand_tivi) \
                .union(brand_washing_machine) \
                .distinct()

# brands = brands.sort(brands.brand_name.asc())

brand_details.toPandas()

,brand_name,genre_name,link,link_logo
0,Panasonic,Air Conditioner,https://www.dienmayxanh.com/may-lanh-panasonic,https://cdn.tgdd.vn/Brand/2/Panasonic2002-b.png
1,Samsung,Air Conditioner,https://www.dienmayxanh.com/may-lanh-samsung,https://cdn.tgdd.vn/Brand/2/Samsung2002-b_1.png
2,Lg,Air Conditioner,https://www.dienmayxanh.com/may-lanh-lg,https://cdn.tgdd.vn/Brand/2/LG2002-b_13.png
3,Casper,Air Conditioner,https://www.dienmayxanh.com/may-lanh-casper,https://cdn.tgdd.vn/Brand/2/casper-200x80-1.png
4,Midea,Air Conditioner,https://www.dienmayxanh.com/may-lanh-midea,https://cdn.tgdd.vn/Brand/2/idea-200x80-1.png
5,Gree,Air Conditioner,https://www.dienmayxanh.com/may-lanh-gree,https://cdn.tgdd.vn/Brand/2/Gree2002-b_52.png
6,Comfee,Air Conditioner,https://www.dienmayxanh.com/may-lanh-comfee,https://cdn.tgdd.vn/Brand/2/Comfee2002-b_19.png
7,Nagakawa,Air Conditioner,https://www.dienmayxanh.com/may-lanh-nagakawa,https://cdn.tgdd.vn/Brand/2/Untitled-3-min-200...
8,Daikin,Air Conditioner,https://www.dienmayxanh.com/may-lanh-daikin,https://cdn.tgdd.vn/Brand/2/Daikin2002-b_34.png
9,Aqua,Air Conditioner,https://www.dienmayxanh.com/may-lanh-aqua,https://cdn.tgdd.vn/Brand/2/Aqua2002-b_36.png
10,Funiki,Air Conditioner,https://www.dienmayxanh.com/may-lanh-funiki,None
11,Tcl,Air Conditioner,https://www.dienmayxanh.com/may-lanh-tcl,https://cdn.tgdd.vn/Brand/2/TCL2002-b_24.png
12,Sharp,Air Conditioner,https://www.dienmayxanh.com/may-lanh-sharp,https://cdn.tgdd.vn/Brand/2/Sharp2002-b_15.png
13,Toshiba,Air Conditioner,https://www.dienmayxanh.com/may-lanh-toshiba,https://cdn.tgdd.vn/Brand/2/Toshiba2002-b_12.png
14,Sharp,Fridge,https://www.dienmayxanh.com/tu-lanh-sharp,https://cdn.tgdd.vn/Brand/2/Sharp1943-b_53.png
15,Aqua Sanyo,Fridge,https://www.dienmayxanh.com/tu-lanh-aqua-sanyo,https://cdn.tgdd.vn/Brand/2/Aqua1943-b_34.png
16,Beko,Fridge,https://www.dienmayxanh.com/tu-lanh-beko,https://cdn.tgdd.vn/Brand/2/Beko1943-b_0.png
17,Toshiba,Fridge,https://www.dienmayxanh.com/tu-lanh-toshiba,https://cdn.tgdd.vn/Brand/2/Toshiba1943-b_52.png
18,Lg,Fridge,https://www.dienmayxanh.com/tu-lanh-lg,https://cdn.tgdd.vn/Brand/2/LG1943-b_10.png
19,Hitachi,Fridge,https://www.dienmayxanh.com/tu-lanh-hitachi,https://cdn.tgdd.vn/Brand/2/Hitachi1943-b_11.png
20,Samsung,Fridge,https://www.dienmayxanh.com/tu-lanh-samsung,https://cdn.tgdd.vn/Brand/2/Samsung1943-b_53.png
21,Casper,Fridge,https://www.dienmayxanh.com/tu-lanh-casper,https://cdn.tgdd.vn/Brand/2/10-200x80-1.png
22,Electrolux,Fridge,https://www.dienmayxanh.com/tu-lanh-electrolux,https://cdn.tgdd.vn/Brand/2/Electrolux1943-b_5...
23,Panasonic,Fridge,https://www.dienmayxanh.com/tu-lanh-panasonic,https://cdn.tgdd.vn/Brand/2/Panasonic1943-b_52...
24,Sony,Tivi,https://www.dienmayxanh.com/tivi-sony,https://cdn.tgdd.vn/Brand/2/Sony1942-b_57.png
25,Iffalcon,Tivi,https://www.dienmayxanh.com/tivi-iffalcon,https://cdn.tgdd.vn/Brand/2/iFFALCON-logo-200x...
26,Casper,Tivi,https://www.dienmayxanh.com/tivi-casper,https://cdn.tgdd.vn/Brand/2/Untitled-1-92x40-1...
27,Toshiba,Tivi,https://www.dienmayxanh.com/tivi-toshiba,https://cdn.tgdd.vn/Brand/2/TOSHIBA-200x80-1.png
28,Lg,Tivi,https://www.dienmayxanh.com/tivi-lg,https://cdn.tgdd.vn/Brand/2/LG1942-b_16.png
29,Tcl,Tivi,https://www.dienmayxanh.com/tivi-tcl,https://cdn.tgdd.vn/Brand/2/TCL1942-b_57.png
30,Samsung,Tivi,https://www.dienmayxanh.com/tivi-samsung,https://cdn.tgdd.vn/Brand/2/Samsung1942-b_51.png
31,Aqua,Tivi,https://www.dienmayxanh.com/tivi-aqua,https://cdn.tgdd.vn/Brand/2/Aqua1943-s34-135x8...
32,Sharp,Tivi,https://www.dienmayxanh.com/tivi-sharp,https://cdn.tgdd.vn/Brand/2/Sharp1942-b_48.png
33,Lg,Washing Machine,https://www.dienmayxanh.com/may-giat-lg,https://cdn.tgdd.vn/Brand/2/LG1944-b_14.png
34,Aqua Sanyo,Washing Machine,https://www.dienmayxanh.com/may-giat-aqua-sanyo,https://cdn.tgdd.vn/Brand/2/Aqua1944-b_31.png
35,Beko,Washing Machine,https://www.dienmayxanh.com/may-giat-beko,https://cdn.tgdd.vn/Brand/2/Beko1944-b_1.png
36,Whirlpool,Washing Machine,https://www.dienmayxanh.com/may-giat-whirlpool,https://cdn.tgdd.vn/Brand/2/Artboard2-180x80-3...
37,Toshiba,Washing Machine,https://www.dienmayxanh.com/may-giat-toshiba,https://cdn.tgdd.vn/Brand/2/Toshiba1944-b_17.png
38,Electrolux,Washing Machine,https://www.dienmayxanh.com/may-giat-electrolux,https://cdn.tgdd.vn/Brand/2/Electrolux1944-b_6...
39,Sharp,Washing Machine,https://www.dienmayxanh.com/may-giat-sharp,https://cdn.tgdd.vn/Brand/2/Sharp1944-b_7.png
40,Tcl,Washing Machine,https://www.dienmayxanh.com/may-giat-tcl,https://cdn.tgdd.vn/Brand/2/TCL1944-b_9.png
41,Casper,Washing Machine,https://www.dienmayxanh.com/may-giat-casper,https://cdn.tgdd.vn/Brand/2/1-200x90-3.png
42,Samsung,Washing Machine,https://www.dienmayxanh.com/may-giat-samsung,https://cdn.tgdd.vn/Brand/2/Samsung1944-b_5.png
43,Panasonic,Washing Machine,https://www.dienmayxanh.com/may-giat-panasonic,https://cdn.tgdd.vn/Brand/2/Panasonic1944-b.png

In [ ]:
brand_details = brand_details \
                .join(genres, on='genre_name', how='inner') \
                .join(brands, on='brand_name', how='inner')

brand_details = brand_details.toPandas()
brand_details

,brand_name,genre_name,link,link_logo,genre_id,company_id,brand_id
0,Panasonic,Air Conditioner,https://www.dienmayxanh.com/may-lanh-panasonic,https://cdn.tgdd.vn/Brand/2/Panasonic2002-b.png,0301,03,0314
1,Samsung,Air Conditioner,https://www.dienmayxanh.com/may-lanh-samsung,https://cdn.tgdd.vn/Brand/2/Samsung2002-b_1.png,0301,03,0307
2,Lg,Air Conditioner,https://www.dienmayxanh.com/may-lanh-lg,https://cdn.tgdd.vn/Brand/2/LG2002-b_13.png,0301,03,0306
3,Casper,Air Conditioner,https://www.dienmayxanh.com/may-lanh-casper,https://cdn.tgdd.vn/Brand/2/casper-200x80-1.png,0301,03,0310
4,Midea,Air Conditioner,https://www.dienmayxanh.com/may-lanh-midea,https://cdn.tgdd.vn/Brand/2/idea-200x80-1.png,0301,03,0301
5,Gree,Air Conditioner,https://www.dienmayxanh.com/may-lanh-gree,https://cdn.tgdd.vn/Brand/2/Gree2002-b_52.png,0301,03,0308
6,Comfee,Air Conditioner,https://www.dienmayxanh.com/may-lanh-comfee,https://cdn.tgdd.vn/Brand/2/Comfee2002-b_19.png,0301,03,0311
7,Nagakawa,Air Conditioner,https://www.dienmayxanh.com/may-lanh-nagakawa,https://cdn.tgdd.vn/Brand/2/Untitled-3-min-200...,0301,03,0309
8,Daikin,Air Conditioner,https://www.dienmayxanh.com/may-lanh-daikin,https://cdn.tgdd.vn/Brand/2/Daikin2002-b_34.png,0301,03,0304
9,Aqua,Air Conditioner,https://www.dienmayxanh.com/may-lanh-aqua,https://cdn.tgdd.vn/Brand/2/Aqua2002-b_36.png,0301,03,0302
10,Funiki,Air Conditioner,https://www.dienmayxanh.com/may-lanh-funiki,None,0301,03,0303
11,Tcl,Air Conditioner,https://www.dienmayxanh.com/may-lanh-tcl,https://cdn.tgdd.vn/Brand/2/TCL2002-b_24.png,0301,03,0305
12,Sharp,Air Conditioner,https://www.dienmayxanh.com/may-lanh-sharp,https://cdn.tgdd.vn/Brand/2/Sharp2002-b_15.png,0301,03,0312
13,Toshiba,Air Conditioner,https://www.dienmayxanh.com/may-lanh-toshiba,https://cdn.tgdd.vn/Brand/2/Toshiba2002-b_12.png,0301,03,0313
14,Sharp,Fridge,https://www.dienmayxanh.com/tu-lanh-sharp,https://cdn.tgdd.vn/Brand/2/Sharp1943-b_53.png,0302,03,0312
15,Aqua Sanyo,Fridge,https://www.dienmayxanh.com/tu-lanh-aqua-sanyo,https://cdn.tgdd.vn/Brand/2/Aqua1943-b_34.png,0302,03,0316
16,Beko,Fridge,https://www.dienmayxanh.com/tu-lanh-beko,https://cdn.tgdd.vn/Brand/2/Beko1943-b_0.png,0302,03,0315
17,Toshiba,Fridge,https://www.dienmayxanh.com/tu-lanh-toshiba,https://cdn.tgdd.vn/Brand/2/Toshiba1943-b_52.png,0302,03,0313
18,Lg,Fridge,https://www.dienmayxanh.com/tu-lanh-lg,https://cdn.tgdd.vn/Brand/2/LG1943-b_10.png,0302,03,0306
19,Hitachi,Fridge,https://www.dienmayxanh.com/tu-lanh-hitachi,https://cdn.tgdd.vn/Brand/2/Hitachi1943-b_11.png,0302,03,0317
20,Samsung,Fridge,https://www.dienmayxanh.com/tu-lanh-samsung,https://cdn.tgdd.vn/Brand/2/Samsung1943-b_53.png,0302,03,0307
21,Casper,Fridge,https://www.dienmayxanh.com/tu-lanh-casper,https://cdn.tgdd.vn/Brand/2/10-200x80-1.png,0302,03,0310
22,Electrolux,Fridge,https://www.dienmayxanh.com/tu-lanh-electrolux,https://cdn.tgdd.vn/Brand/2/Electrolux1943-b_5...,0302,03,0318
23,Panasonic,Fridge,https://www.dienmayxanh.com/tu-lanh-panasonic,https://cdn.tgdd.vn/Brand/2/Panasonic1943-b_52...,0302,03,0314
24,Sony,Tivi,https://www.dienmayxanh.com/tivi-sony,https://cdn.tgdd.vn/Brand/2/Sony1942-b_57.png,0303,03,0319
25,Iffalcon,Tivi,https://www.dienmayxanh.com/tivi-iffalcon,https://cdn.tgdd.vn/Brand/2/iFFALCON-logo-200x...,0303,03,0320
26,Casper,Tivi,https://www.dienmayxanh.com/tivi-casper,https://cdn.tgdd.vn/Brand/2/Untitled-1-92x40-1...,0303,03,0310
27,Toshiba,Tivi,https://www.dienmayxanh.com/tivi-toshiba,https://cdn.tgdd.vn/Brand/2/TOSHIBA-200x80-1.png,0303,03,0313
28,Lg,Tivi,https://www.dienmayxanh.com/tivi-lg,https://cdn.tgdd.vn/Brand/2/LG1942-b_16.png,0303,03,0306
29,Tcl,Tivi,https://www.dienmayxanh.com/tivi-tcl,https://cdn.tgdd.vn/Brand/2/TCL1942-b_57.png,0303,03,0305
30,Samsung,Tivi,https://www.dienmayxanh.com/tivi-samsung,https://cdn.tgdd.vn/Brand/2/Samsung1942-b_51.png,0303,03,0307
31,Aqua,Tivi,https://www.dienmayxanh.com/tivi-aqua,https://cdn.tgdd.vn/Brand/2/Aqua1943-s34-135x8...,0303,03,0302
32,Sharp,Tivi,https://www.dienmayxanh.com/tivi-sharp,https://cdn.tgdd.vn/Brand/2/Sharp1942-b_48.png,0303,03,0312
33,Lg,Washing Machine,https://www.dienmayxanh.com/may-giat-lg,https://cdn.tgdd.vn/Brand/2/LG1944-b_14.png,0304,03,0306
34,Aqua Sanyo,Washing Machine,https://www.dienmayxanh.com/may-giat-aqua-sanyo,https://cdn.tgdd.vn/Brand/2/Aqua1944-b_31.png,0304,03,0316
35,Beko,Washing Machine,https://www.dienmayxanh.com/may-giat-beko,https://cdn.tgdd.vn/Brand/2/Beko1944-b_1.png,0304,03,0315
36,Whirlpool,Washing Machine,https://www.dienmayxanh.com/may-giat-whirlpool,https://cdn.tgdd.vn/Brand/2/Artboard2-180x80-3...,0304,03,0321
37,Toshiba,Washing Machine,https://www.dienmayxanh.com/may-giat-toshiba,https://cdn.tgdd.vn/Brand/2/Toshiba1944-b_17.png,0304,03,0313
38,Electrolux,Washing Machine,https://www.dienmayxanh.com/may-giat-electrolux,https://cdn.tgdd.vn/Brand/2/Electrolux1944-b_6...,0304,03,0318
39,Sharp,Washing Machine,https://www.dienmayxanh.com/may-giat-sharp,https://cdn.tgdd.vn/Brand/2/Sharp1944-b_7.png,0304,03,0312
40,Tcl,Washing Machine,https://www.dienmayxanh.com/may-giat-tcl,https://cdn.tgdd.vn/Brand/2/TCL1944-b_9.png,0304,03,0305
41,Casper,Washing Machine,https://www.dienmayxanh.com/may-giat-casper,https://cdn.tgdd.vn/Brand/2/1-200x90-3.png,0304,03,0310
42,Samsung,Washing Machine,https://www.dienmayxanh.com/may-giat-samsung,https://cdn.tgdd.vn/Brand/2/Samsung1944-b_5.png,0304,03,0307
43,Panasonic,Washing Machine,https://www.dienmayxanh.com/may-giat-panasonic,https://cdn.tgdd.vn/Brand/2/Panasonic1944-b.png,0304,03,0314

In [ ]:
brand_details = brand_details[['brand_id', 'genre_id', 'link', 'link_logo']]
brand_details

,brand_id,genre_id,link,link_logo
0,0314,0301,https://www.dienmayxanh.com/may-lanh-panasonic,https://cdn.tgdd.vn/Brand/2/Panasonic2002-b.png
1,0307,0301,https://www.dienmayxanh.com/may-lanh-samsung,https://cdn.tgdd.vn/Brand/2/Samsung2002-b_1.png
2,0306,0301,https://www.dienmayxanh.com/may-lanh-lg,https://cdn.tgdd.vn/Brand/2/LG2002-b_13.png
3,0310,0301,https://www.dienmayxanh.com/may-lanh-casper,https://cdn.tgdd.vn/Brand/2/casper-200x80-1.png
4,0301,0301,https://www.dienmayxanh.com/may-lanh-midea,https://cdn.tgdd.vn/Brand/2/idea-200x80-1.png
5,0308,0301,https://www.dienmayxanh.com/may-lanh-gree,https://cdn.tgdd.vn/Brand/2/Gree2002-b_52.png
6,0311,0301,https://www.dienmayxanh.com/may-lanh-comfee,https://cdn.tgdd.vn/Brand/2/Comfee2002-b_19.png
7,0309,0301,https://www.dienmayxanh.com/may-lanh-nagakawa,https://cdn.tgdd.vn/Brand/2/Untitled-3-min-200...
8,0304,0301,https://www.dienmayxanh.com/may-lanh-daikin,https://cdn.tgdd.vn/Brand/2/Daikin2002-b_34.png
9,0302,0301,https://www.dienmayxanh.com/may-lanh-aqua,https://cdn.tgdd.vn/Brand/2/Aqua2002-b_36.png
10,0303,0301,https://www.dienmayxanh.com/may-lanh-funiki,None
11,0305,0301,https://www.dienmayxanh.com/may-lanh-tcl,https://cdn.tgdd.vn/Brand/2/TCL2002-b_24.png
12,0312,0301,https://www.dienmayxanh.com/may-lanh-sharp,https://cdn.tgdd.vn/Brand/2/Sharp2002-b_15.png
13,0313,0301,https://www.dienmayxanh.com/may-lanh-toshiba,https://cdn.tgdd.vn/Brand/2/Toshiba2002-b_12.png
14,0312,0302,https://www.dienmayxanh.com/tu-lanh-sharp,https://cdn.tgdd.vn/Brand/2/Sharp1943-b_53.png
15,0316,0302,https://www.dienmayxanh.com/tu-lanh-aqua-sanyo,https://cdn.tgdd.vn/Brand/2/Aqua1943-b_34.png
16,0315,0302,https://www.dienmayxanh.com/tu-lanh-beko,https://cdn.tgdd.vn/Brand/2/Beko1943-b_0.png
17,0313,0302,https://www.dienmayxanh.com/tu-lanh-toshiba,https://cdn.tgdd.vn/Brand/2/Toshiba1943-b_52.png
18,0306,0302,https://www.dienmayxanh.com/tu-lanh-lg,https://cdn.tgdd.vn/Brand/2/LG1943-b_10.png
19,0317,0302,https://www.dienmayxanh.com/tu-lanh-hitachi,https://cdn.tgdd.vn/Brand/2/Hitachi1943-b_11.png
20,0307,0302,https://www.dienmayxanh.com/tu-lanh-samsung,https://cdn.tgdd.vn/Brand/2/Samsung1943-b_53.png
21,0310,0302,https://www.dienmayxanh.com/tu-lanh-casper,https://cdn.tgdd.vn/Brand/2/10-200x80-1.png
22,0318,0302,https://www.dienmayxanh.com/tu-lanh-electrolux,https://cdn.tgdd.vn/Brand/2/Electrolux1943-b_5...
23,0314,0302,https://www.dienmayxanh.com/tu-lanh-panasonic,https://cdn.tgdd.vn/Brand/2/Panasonic1943-b_52...
24,0319,0303,https://www.dienmayxanh.com/tivi-sony,https://cdn.tgdd.vn/Brand/2/Sony1942-b_57.png
25,0320,0303,https://www.dienmayxanh.com/tivi-iffalcon,https://cdn.tgdd.vn/Brand/2/iFFALCON-logo-200x...
26,0310,0303,https://www.dienmayxanh.com/tivi-casper,https://cdn.tgdd.vn/Brand/2/Untitled-1-92x40-1...
27,0313,0303,https://www.dienmayxanh.com/tivi-toshiba,https://cdn.tgdd.vn/Brand/2/TOSHIBA-200x80-1.png
28,0306,0303,https://www.dienmayxanh.com/tivi-lg,https://cdn.tgdd.vn/Brand/2/LG1942-b_16.png
29,0305,0303,https://www.dienmayxanh.com/tivi-tcl,https://cdn.tgdd.vn/Brand/2/TCL1942-b_57.png
30,0307,0303,https://www.dienmayxanh.com/tivi-samsung,https://cdn.tgdd.vn/Brand/2/Samsung1942-b_51.png
31,0302,0303,https://www.dienmayxanh.com/tivi-aqua,https://cdn.tgdd.vn/Brand/2/Aqua1943-s34-135x8...
32,0312,0303,https://www.dienmayxanh.com/tivi-sharp,https://cdn.tgdd.vn/Brand/2/Sharp1942-b_48.png
33,0306,0304,https://www.dienmayxanh.com/may-giat-lg,https://cdn.tgdd.vn/Brand/2/LG1944-b_14.png
34,0316,0304,https://www.dienmayxanh.com/may-giat-aqua-sanyo,https://cdn.tgdd.vn/Brand/2/Aqua1944-b_31.png
35,0315,0304,https://www.dienmayxanh.com/may-giat-beko,https://cdn.tgdd.vn/Brand/2/Beko1944-b_1.png
36,0321,0304,https://www.dienmayxanh.com/may-giat-whirlpool,https://cdn.tgdd.vn/Brand/2/Artboard2-180x80-3...
37,0313,0304,https://www.dienmayxanh.com/may-giat-toshiba,https://cdn.tgdd.vn/Brand/2/Toshiba1944-b_17.png
38,0318,0304,https://www.dienmayxanh.com/may-giat-electrolux,https://cdn.tgdd.vn/Brand/2/Electrolux1944-b_6...
39,0312,0304,https://www.dienmayxanh.com/may-giat-sharp,https://cdn.tgdd.vn/Brand/2/Sharp1944-b_7.png
40,0305,0304,https://www.dienmayxanh.com/may-giat-tcl,https://cdn.tgdd.vn/Brand/2/TCL1944-b_9.png
41,0310,0304,https://www.dienmayxanh.com/may-giat-casper,https://cdn.tgdd.vn/Brand/2/1-200x90-3.png
42,0307,0304,https://www.dienmayxanh.com/may-giat-samsung,https://cdn.tgdd.vn/Brand/2/Samsung1944-b_5.png
43,0314,0304,https://www.dienmayxanh.com/may-giat-panasonic,https://cdn.tgdd.vn/Brand/2/Panasonic1944-b.png

In [ ]:
to_csv(brand_details, '/transformed/brand_details/brand_details.csv')

## **Tables Products**

In [ ]:
air_conditioner = read_csv('/transformed/product/air_conditioner.csv')
fridge = read_csv('/transformed/product/fridge.csv')
tivi = read_csv('/transformed/product/tivi.csv')
washing_machine = read_csv('/transformed/product/washing_machine.csv')

In [ ]:
genres = read_csv('/transformed/genre/genres.csv')
brands = read_csv('/transformed/brand/brands.csv')

In [ ]:
products = air_conditioner \
           .union(fridge) \
           .union(tivi) \
           .union(washing_machine)

products.toPandas()

,product_name,current_price,price,percent_discount,rating,series,link,genre_name,brand_name
0,Panasonic Inverter 1 HP CU/CS-PU9ZKH-8M Mới 2023,11390000.0,11390000.0,0,319,None,https://www.dienmayxanh.com/may-lanh/panasonic...,Air Conditioner,Panasonic
1,Panasonic Inverter 1.5 HP CU/CS-PU12ZKH-8M Mới...,13890000.0,13890000.0,0,235,None,https://www.dienmayxanh.com/may-lanh/panasonic...,Air Conditioner,Panasonic
2,Panasonic Inverter 1 HP CU/CS-XU9ZKH-8 Mới 2023,13990000.0,13990000.0,0,110,None,https://www.dienmayxanh.com/may-lanh/panasonic...,Air Conditioner,Panasonic
3,Panasonic Inverter 1.5 HP CU/CS-XU12ZKH-8 Mới ...,17390000.0,17390000.0,0,37,None,https://www.dienmayxanh.com/may-lanh/panasonic...,Air Conditioner,Panasonic
4,Panasonic Inverter 2 HP CS-PU18XKH-8M,18690000.0,18690000.0,0,47,None,https://www.dienmayxanh.com/may-lanh/panasonic...,Air Conditioner,Panasonic
...,...,...,...,...,...,...,...,...,...
791,Whirlpool Inverter 10.5 Kg FWEB10502FW,9340000.0,13490000.0,30,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,Washing Machine,Whirlpool
792,Whirlpool Inverter 8 Kg FWEB8002FG,7190000.0,9990000.0,28,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,Washing Machine,Whirlpool
793,Whirlpool Inverter 10.5 Kg FWMD10502FG,13740000.0,17990000.0,23,3,None,https://www.dienmayxanh.com/may-giat/whirlpool...,Washing Machine,Whirlpool
794,Whirlpool 10.5 Kg VWVC10502FS,6810000.0,9490000.0,28,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,Washing Machine,Whirlpool
795,Whirlpool Inverter Giặt 9.5 Kg - Sấy 7 Kg WWEB...,13190000.0,16490000.0,20,0,None,https://www.dienmayxanh.com/may-giat/say-whirl...,Washing Machine,Whirlpool

In [ ]:
products = products \
           .join(genres, on='genre_name', how='inner') \
           .join(brands, on='brand_name', how='inner')
products = products.toPandas()
products

,brand_name,genre_name,product_name,current_price,price,percent_discount,rating,series,link,genre_id,company_id,brand_id
0,Panasonic,Air Conditioner,Panasonic Inverter 1 HP CU/CS-PU9ZKH-8M Mới 2023,11390000.0,11390000.0,0,319,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0301,03,0314
1,Panasonic,Air Conditioner,Panasonic Inverter 1.5 HP CU/CS-PU12ZKH-8M Mới...,13890000.0,13890000.0,0,235,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0301,03,0314
2,Panasonic,Air Conditioner,Panasonic Inverter 1 HP CU/CS-XU9ZKH-8 Mới 2023,13990000.0,13990000.0,0,110,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0301,03,0314
3,Panasonic,Air Conditioner,Panasonic Inverter 1.5 HP CU/CS-XU12ZKH-8 Mới ...,17390000.0,17390000.0,0,37,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0301,03,0314
4,Panasonic,Air Conditioner,Panasonic Inverter 2 HP CS-PU18XKH-8M,18690000.0,18690000.0,0,47,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0301,03,0314
...,...,...,...,...,...,...,...,...,...,...,...,...
791,Whirlpool,Washing Machine,Whirlpool Inverter 10.5 Kg FWEB10502FW,9340000.0,13490000.0,30,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0304,03,0321
792,Whirlpool,Washing Machine,Whirlpool Inverter 8 Kg FWEB8002FG,7190000.0,9990000.0,28,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0304,03,0321
793,Whirlpool,Washing Machine,Whirlpool Inverter 10.5 Kg FWMD10502FG,13740000.0,17990000.0,23,3,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0304,03,0321
794,Whirlpool,Washing Machine,Whirlpool 10.5 Kg VWVC10502FS,6810000.0,9490000.0,28,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0304,03,0321
795,Whirlpool,Washing Machine,Whirlpool Inverter Giặt 9.5 Kg - Sấy 7 Kg WWEB...,13190000.0,16490000.0,20,0,None,https://www.dienmayxanh.com/may-giat/say-whirl...,0304,03,0321

In [ ]:
id = []
for i in range(1, len(products)+1):
    if i < 10:
        id.append('03000' + str(i))
    elif i < 100:
        id.append('0300' + str(i))
    elif i < 1000:
        id.append('030' + str(i))
    else:
        id.append('03' + str(i))

products['product_id'] = id

products

,brand_name,genre_name,product_name,current_price,price,percent_discount,rating,series,link,genre_id,company_id,brand_id,product_id
0,Panasonic,Air Conditioner,Panasonic Inverter 1 HP CU/CS-PU9ZKH-8M Mới 2023,11390000.0,11390000.0,0,319,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0301,03,0314,030001
1,Panasonic,Air Conditioner,Panasonic Inverter 1.5 HP CU/CS-PU12ZKH-8M Mới...,13890000.0,13890000.0,0,235,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0301,03,0314,030002
2,Panasonic,Air Conditioner,Panasonic Inverter 1 HP CU/CS-XU9ZKH-8 Mới 2023,13990000.0,13990000.0,0,110,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0301,03,0314,030003
3,Panasonic,Air Conditioner,Panasonic Inverter 1.5 HP CU/CS-XU12ZKH-8 Mới ...,17390000.0,17390000.0,0,37,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0301,03,0314,030004
4,Panasonic,Air Conditioner,Panasonic Inverter 2 HP CS-PU18XKH-8M,18690000.0,18690000.0,0,47,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0301,03,0314,030005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,Whirlpool,Washing Machine,Whirlpool Inverter 10.5 Kg FWEB10502FW,9340000.0,13490000.0,30,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0304,03,0321,030792
792,Whirlpool,Washing Machine,Whirlpool Inverter 8 Kg FWEB8002FG,7190000.0,9990000.0,28,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0304,03,0321,030793
793,Whirlpool,Washing Machine,Whirlpool Inverter 10.5 Kg FWMD10502FG,13740000.0,17990000.0,23,3,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0304,03,0321,030794
794,Whirlpool,Washing Machine,Whirlpool 10.5 Kg VWVC10502FS,6810000.0,9490000.0,28,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0304,03,0321,030795
795,Whirlpool,Washing Machine,Whirlpool Inverter Giặt 9.5 Kg - Sấy 7 Kg WWEB...,13190000.0,16490000.0,20,0,None,https://www.dienmayxanh.com/may-giat/say-whirl...,0304,03,0321,030796

In [ ]:
# select column
products = products[['product_id', 'product_name', 'current_price', 'price', 'percent_discount', 'rating', 'series', 'link', 'brand_id', 'genre_id']]
products

,product_id,product_name,current_price,price,percent_discount,rating,series,link,brand_id,genre_id
0,030001,Panasonic Inverter 1 HP CU/CS-PU9ZKH-8M Mới 2023,11390000.0,11390000.0,0,319,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0314,0301
1,030002,Panasonic Inverter 1.5 HP CU/CS-PU12ZKH-8M Mới...,13890000.0,13890000.0,0,235,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0314,0301
2,030003,Panasonic Inverter 1 HP CU/CS-XU9ZKH-8 Mới 2023,13990000.0,13990000.0,0,110,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0314,0301
3,030004,Panasonic Inverter 1.5 HP CU/CS-XU12ZKH-8 Mới ...,17390000.0,17390000.0,0,37,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0314,0301
4,030005,Panasonic Inverter 2 HP CS-PU18XKH-8M,18690000.0,18690000.0,0,47,None,https://www.dienmayxanh.com/may-lanh/panasonic...,0314,0301
...,...,...,...,...,...,...,...,...,...,...
791,030792,Whirlpool Inverter 10.5 Kg FWEB10502FW,9340000.0,13490000.0,30,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0321,0304
792,030793,Whirlpool Inverter 8 Kg FWEB8002FG,7190000.0,9990000.0,28,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0321,0304
793,030794,Whirlpool Inverter 10.5 Kg FWMD10502FG,13740000.0,17990000.0,23,3,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0321,0304
794,030795,Whirlpool 10.5 Kg VWVC10502FS,6810000.0,9490000.0,28,0,None,https://www.dienmayxanh.com/may-giat/whirlpool...,0321,0304
795,030796,Whirlpool Inverter Giặt 9.5 Kg - Sấy 7 Kg WWEB...,13190000.0,16490000.0,20,0,None,https://www.dienmayxanh.com/may-giat/say-whirl...,0321,0304

In [ ]:
to_csv(products, '/transformed/product/products.csv')

# **Final Data**

In [41]:
current_dir = '/content/drive/MyDrive/mwg'

In [42]:
brand_tgdd = read_csv('/the_gioi_di_dong/transformed/brand/brands.csv')
brand_dmx = read_csv('/dien_may_xanh/transformed/brand/brands.csv')

In [47]:
brands = brand_tgdd \
         .union(brand_dmx)

to_csv(brands.toPandas(), '/brands.csv')

In [49]:
product_tgdd = read_csv('/the_gioi_di_dong/transformed/product/products.csv')
product_dmx = read_csv('/dien_may_xanh/transformed/product/products.csv')

In [50]:
products = product_tgdd \
           .union(product_dmx)

to_csv(products.toPandas(), '/products.csv')

In [52]:
brand_d_tgdd = read_csv('/the_gioi_di_dong/transformed/brand_details/brand_details.csv')
brand_d_dmx = read_csv('/dien_may_xanh/transformed/brand_details/brand_details.csv')

In [53]:
brand_details = brand_d_tgdd \
                .union(brand_d_dmx)

to_csv(brand_details.toPandas(), '/brand_details.csv')

In [54]:
genre_tgdd = read_csv('/the_gioi_di_dong/transformed/genre/genres.csv')
genre_dmx = read_csv('/dien_may_xanh/transformed/genre/genres.csv')

In [55]:
genres = genre_tgdd \
         .union(genre_dmx)

to_csv(genres.toPandas(), '/genres.csv')